asgiref
blis
catalogue
certifi
charset-normalizer
click
colorama
cycler
cymem
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
Flask
fonttools
idna
itsdangerous
Jinja2
joblib
kiwisolver
langcodes
MarkupSafe
matplotlib
murmurhash
numpy
packaging
pandas
pathy
Pillow
preshed
pydantic
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
six
smart-open
spacy
spacy-legacy
spacy-loggers
srsly
thinc
threadpoolctl
tqdm
typer
typing_extensions
urllib3
wasabi
Werkzeug
gunicorn
flask_cors
